:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --main-BG-color: #e5e5e5;
  --first-BG-color: #ffffff;
  --main-text-color: #757575;
  --main-tittle-color: #ffffff;
  --second-tittle-color: #212121;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --main-btn-color: #2196f3;
  --second-btn-color: #f5f4fa;
  --hero-btn-color: #188ce8;
  --text-btn-color: #ffffff;
  --accent: #2196f3;
  --max-margin: 50px;
  --average-margin: 30px;
  --min-margin: 10px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
  color: var(--text-btn-color);
  cursor: pointer;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-tittle-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-90%, 90%) scale(0) rotate(-360deg);
  opacity: 0.2;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
}

.icon__close {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal__btn:hover .icon__close, .modal__btn:focus .icon__close {
  fill: var(--accent);
}

.modal__title {
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__field {
  margin-bottom: 10px;
}

.modal__name,
.modal__tel,
.modal__mail {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function);
  color: rgba(117, 117, 117, 0.5);
}
.modal__name:focus, .modal__name:hover,
.modal__tel:focus,
.modal__tel:hover,
.modal__mail:focus,
.modal__mail:hover {
  border: 1px solid var(--accent);
}

.label__name,
.label__tel,
.label__mail {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.name__field,
.tel__field,
.mail__field {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal__name:focus + .modal__icon, .modal__name:hover + .modal__icon, .modal__tel:focus + .modal__icon, .modal__tel:hover + .modal__icon, .modal__mail:focus + .modal__icon, .modal__mail:hover + .modal__icon {
  fill: var(--accent);
}

.modal__text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.label__text {
  width: 100%;
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.area__text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.area__text:hover, .area__text:focus {
  border: 1px solid #2196f3;
}

.checkbox__field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.check__input {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1199px) {
  .check__text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .check__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.checkbox__span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 3px;
  background-color: transparent;
  transition: background-color var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
}

.check__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  fill: transparent;
  transform: translate(-50%, -50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.check__input:checked + .check__text .check__icon {
  fill: #ffffff;
}

.check__input:focus + .check__text span,
.check__input:hover + .check__text span {
  border-color: var(--accent);
}

.check__input:checked + .check__text span {
  background-color: var(--accent);
  border: none;
}

.checkbox__link {
  display: inline;
  margin-left: 1px;
  border-bottom: 1px solid var(--accent);
  color: var(--accent);
}

.send__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  margin: auto;
  background-color: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.send__btn:hover, .send__btn:focus {
  background-color: var(--hero-btn-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
.logo__link {
  font-family: var(--second-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
@media screen and (max-width: 1199px) {
  .logo__link {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
.logo__text {
  color: var(--header-logo-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.logo__link:hover,
.logo__link:focus,
.logo__text:hover,
.logo__text:focus {
  color: var(--accent);
}

.logo__text--footer {
  color: var(--footer-logo-color);
  margin-bottom: 20px;
}

.soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.soc__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}
.soc__item:not(:last-child) {
  margin-right: var(--min-margin);
}

.soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: inherit;
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.soc__link:hover, .soc__link:focus {
  color: #ffffff;
  background-color: var(--accent);
}

.soc__icon {
  fill: currentColor;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: none;
  align-items: center;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-right: auto;
  }
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-tittle-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent);
}

.nav__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent);
}

.contact__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact__list {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:first-child) {
    margin-left: 50px;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact__address {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
}
@media screen and (min-width: 1200px) {
  .contact__address {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.contact__address:hover, .contact__address:focus {
  color: var(--accent);
}

.header__button,
.header-menu__button {
  background-color: transparent;
  border: transparent;
  margin-left: auto;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header__button:hover, .header__button:focus,
.header-menu__button:hover,
.header-menu__button:focus {
  color: var(--accent);
}
@media screen and (min-width: 768px) {
  .header__button,
.header-menu__button {
    display: none;
  }
}

.icon__smartphone,
.icon__envelope,
.header__icon-open,
.header__icon-close {
  fill: currentColor;
}

.header-menu.is-hidden {
  transform: scale(0) rotate(180deg);
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--first-BG-color);
  transform: scale(1) rotate(360deg);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
.header-menu .container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

.header-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.header-menu__item {
  margin-bottom: 32px;
}

.header-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--second-tittle-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header-menu__link:hover, .header-menu__link:focus {
  color: var(--accent);
}

.current {
  color: var(--accent);
}

.header-contact__list {
  margin-bottom: 64px;
}

.header-contact__item {
  margin-bottom: 32px;
}

.header-contact__tell {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent);
}
@media screen and (max-width: 479px) {
  .header-contact__tell {
    font-size: 33px;
  }
}
@media screen and (min-width: 480px) {
  .header-contact__tell {
    font-size: 34px;
  }
}

.header-contact__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-soc__list {
  display: flex;
}

.header-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

.header-soc__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent);
}
@media screen and (max-width: 479px) {
  .header-soc__link {
    font-size: 14px;
  }
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/herobg-mob-2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/herobg-mob-3x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/herobg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/herobg-tablet-3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/herobg2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/herobg3x.jpg);
  }
}
.hero__title {
  max-width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: var(--main-tittle-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.hero__btn {
  display: block;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  margin-top: var(--average-margin);
  background-color: var(--main-btn-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hero-btn-color);
}

.advantages {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}
.advantages__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 90px) / 4);
  }
}
.advantages__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: var(--average-margin);
  background: #f5f4fa;
}
.advantages__subtittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--second-tittle-color);
  margin-bottom: var(--min-margin);
}
@media screen and (min-width: 768px) {
  .advantages__subtittle {
    text-align: left;
  }
}
.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.job {
  padding-top: 47px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .job {
    display: none;
  }
}
.job__tittle {
  margin-bottom: var(--max-margin);
}
.job__list {
  display: flex;
  margin-left: -30px;
}
.job__item {
  position: relative;
  width: calc(33.3333333333% - 30px);
  margin-left: var(--average-margin);
}
.job__subtitle {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--main-tittle-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__tittle {
  margin-bottom: var(--average-margin);
}
@media screen and (max-width: 1199px) {
  .team__tittle {
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .team__tittle {
    margin-bottom: var(--max-margin);
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}
.team__item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}
.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.team__subtittle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: var(--min-margin);
  color: var(--second-tittle-color);
}
.team__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__tittle {
  margin-bottom: var(--average-margin);
}
@media screen and (max-width: 1199px) {
  .clients__tittle {
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .clients__tittle {
    margin-bottom: var(--max-margin);
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  height: 92px;
  color: #afb1b8;
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: inherit;
  transition: color var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent);
  color: var(--accent);
}
.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
@media screen and (max-width: 767px) {
  .footer__container {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .contacts {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
  }
}
.address__item {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}
.address__link {
  color: #ffffff;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address__link:hover,
.address__link:focus,
.address__contacts:hover,
.address__contacts:focus {
  color: var(--accent);
}

.social {
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .social {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    margin-right: 93px;
    margin-bottom: 0;
  }
}
.social__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-tittle-color);
}
.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__item:not(:last-child) {
  margin-right: var(--min-margin);
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: inherit;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent);
}
.social__icon {
  fill: currentColor;
}

.form-container {
  margin-right: auto;
}
.form-container__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-tittle-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-container {
    margin: 0;
  }
}
@media screen and (max-width: 1199px) {
  .form-container {
    text-align: center;
  }
}

.mail-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mail-form {
    width: 450px;
  }
}
.mail-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  transition: border var(--transition-duration) var(--transition-timing-function);
}
.mail-form__input:focus, .mail-form__input:hover {
  border: 1px solid var(--accent);
}
@media screen and (max-width: 1199px) {
  .mail-form__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .mail-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.mail-form__btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--main-btn-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.mail-form__btn:hover, .mail-form__btn:focus {
  background-color: var(--hero-btn-color);
}
@media screen and (max-width: 1199px) {
  .mail-form__btn {
    margin: 0 auto;
  }
}

.mail-form__icon {
  position: absolute;
  right: 28px;
  margin-left: 10px;
}

.works {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .works {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .works__list {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .works__list {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .works__items {
    margin-bottom: 15px;
  }
}
.works__items:not(:last-child) {
  margin-right: 8px;
}

.works__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  color: var(--second-tittle-color);
  background-color: var(--second-btn-color);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.works__btn:hover, .works__btn:focus {
  color: #ffffff;
  background-color: var(--main-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.grid__item {
  width: 100%;
  border: 1px solid #eeeeee;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
.grid__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .grid__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .grid__item {
    width: calc((100% - 60px) / 3);
  }
}
.grid__link {
  width: 100%;
}
.grid__thumb {
  position: relative;
  overflow: hidden;
}
.grid__top-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 15px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 30px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 480px) {
  .grid__top-text {
    font-size: 18px;
    padding-top: 77px;
  }
}
@media screen and (min-width: 768px) {
  .grid__top-text {
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .grid__top-text {
    padding-top: 63px;
  }
}
.grid__link:hover .grid__top-text, .grid__link:focus .grid__top-text {
  transform: translateY(0);
}
.grid__info {
  padding: 20px 24px;
}
.grid__subtittle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-tittle-color);
}
.grid__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */