.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__tittle {
 margin-bottom: var(--average-margin);
    @media screen and (max-width: 1199px) {
      font-size: 28px;
      line-height: 1.18;
    }
    @include desktop{
      margin-bottom: var(--max-margin);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    height: 92px;
    color: #afb1b8;
    @media screen and (max-width: 767px) {
      width: calc((100% - 30px) / 2);
    }
    @include tablet {
      width: calc((100% - 60px) / 3);
    }
    @include desktop {
      width: calc((100% - 150px) / 6);
    }
  }

  &__link {
    @include display(flex, center);
    justify-content: center;
    width: 100%;
    height: 100%;
    @include bordered(#afb1b8);
    border-radius: 4px;
    color: inherit;
    transition: color var(--transition-duration)
        var(--transition-timing-function),
      border var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
      @include bordered(var(--accent));
      color: var(--accent);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
