.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__tittle {
    margin-bottom: var(--max-margin);
    @media screen and (max-width: 1199px) {
      font-size: 28px;
      line-height: 1.18;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
  }

  &__item {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }
  &__container {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }
  &__subtittle {
    @include font(16px, 500, 1.19, 0.03em);
    text-align: center;
    margin-bottom: var(--min-margin);
    color: var(--second-tittle-color);
  }
  &__text {
    text-align: center;
    @include font(16px, null, 1.19, 0.03em);
    color: var(--main-text-color);
  }
}
